/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--main-color);
}

.header {
  display: grid;
  height: 100vh;
  width: 100%;
}

.decorative-elements {
  position: absolute;
  display: grid;
  justify-self: right;
  margin-top: 10px;
  margin-right: 19px;
  height: 26px;
  width: 52px;
}

.decorative-text {
  display: flex;
  font-family: var(--font-regular), monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.decorative-text::after {
  display: block;
  align-self: center;
  justify-self: center;
  margin-left: 10px;
  width: 9px;
  height: 9px;
  content: '';
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  justify-self: right;
  gap: 10px;
  margin-top: 73.5px;
  margin-right: 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button_active:hover {
  outline: 1px solid var(--accent-color-tinned);
}

.header__theme-menu-button_active:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-tinned);
}

.header__theme-menu-button {
  display: grid;
  inline-size: 70px;
  block-size: 26px;
  font-family: var(--font-regular), monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  align-items: center;
}

.heading {
  display: grid;
  margin-inline-start: 10px;
  margin-inline-end: 20px;
  margin-block-start: 8px;
  font-family: var(--font-bold), monospace;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--heading-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  align-self: end;
  margin: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  justify-self: end;
  margin: 10px;
}

.title-decor {
  color: var(--main-color);
  background-color: var(--accent-color);
  font-family: var(--font-bold), monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

@media (width >= 768px) {
  
  .decorated-zone::before {
    content: '';
    margin: 20px;
  }

  .decorated-zone::after {
    content: '';
    margin: 20px;
  }
}

.title {
  display: grid;
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-end: 8px;
  inline-size: 355px;
  block-size: 117px;
}

main {
  background-color: var(--main-color);
  font-family: var(--font-regular), monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.main-section-unit {
  padding-block-end: 30px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.main-section-unit:last-of-type {
  padding-block-end: 0;
}

.main-section-unit:first-of-type {
  padding-top: 40px;
}

.text-zone {
  margin-block-start: 20px;
}

.main-section-unit__heading {
  display: grid;
  font-family: var(--font-bold), monospace;
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color);
}

.main-section-unit__paragraph-heading {
  display: grid;
}

.main-section-unit__paragraph {
  color: var(--paragraph-text-color);
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.link {
  text-shadow: 2px 1px var(--accent-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  outline: none;
  border-bottom: 1px solid var(--paragraph-text-color);
}

.link:focus-visible {
  outline: 1px solid var(--paragraph-text-color);
}

.alternative-heading {
  color: var(--main-color);
  background-color: var(--accent-color);
  margin-top: 20px;
}

.pics-zone {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-block-end: 39px;
}

.main-section-unit__pic {
  display: grid;
  object-fit: contain;
  margin-top: 10px;
}

.pic-sunset {
  inline-size: 355px;
  block-size: 142px;
}

.pic-icecream {
  inline-size: 355px;
  block-size: 355px;
}

.pic-tape {
  inline-size: 355px;
  block-size: 237px;
}

.pic-books {
  inline-size: 355px;
  block-size: 355px;
}

.pic-street {
  inline-size: 355px;
  block-size: 237px;
}

.footer {
  block-size: 100vh;
  min-height: 668px;
  display: grid;
  justify-content: center;
  padding-top: 40px;
  background-color: var(--main-color);
}

.footer-heading {
  display: grid;
  align-self: center;
  font-family: var(--font-bold), monospace;
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  color: var(--heading-text-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  margin-block-end: 40px;
}

@media (width >= 768px) {
  .title {
    justify-self: right;
    margin: 20px;
    margin-block-end: 38px;
    inline-size: 364px;
  }

  .heading {
    margin-inline-start: 0;
    margin-block-start: 30px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main-section-unit:first-of-type {
    padding-block-start: 60px;
  }

  .decorative-elements {
    margin: 20px 28px;
  }

  .header__theme-menu-list {
    margin-top: 190px;
    margin-right: 20px;
  }

  .why-hard-to-focus {
    padding-top: 60px;
  }

  .text-zone {
    position: relative;
    margin-left: 20px;
    margin-top: 0px;
  }

  .main-section-unit {
    display: grid;
    grid-template-columns: 236px 1fr;
    padding-inline: 20px;
    padding-block-end: 80px;
    margin-block-end: 0;
  }

  .main-section-unit__heading {
    grid-column: 1;
    display: inline;
  }

  .text-zone-under-heading__heading {
    inline-size: min-content;
    margin-block-start: -20px;
    margin-block-end: 20px;
  }

  .what-lowers-concentration {
    margin-inline-start: 0;
    margin-bottom: -19px;
  }

  .main-section-unit__paragraph-heading {
    grid-column: 2;
    block-size: 23px;
  }

  .main-section-unit__paragraph {
    grid-column: 2;
  }

  .text-zone-under-heading {
    grid-template-columns: 1fr;
  }

  .main-section-unit__pics {
    margin-block-start: -20px;
    padding-block-end: 0;
  }

  .main-section-unit__pics__heading {
    color: var(--main-color);
  }

  .main-section-unit__pic {
    inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    object-fit: cover;
  }

  .pics-zone {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "pic-sunset pic-sunset pic-icecream"
    "pic-tape pic-books pic-icecream"
    "pic-tape pic-street pic-street";
    gap: 20px;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-top: 10px;
  }

  .pic-sunset {
    grid-area: pic-sunset;
  }

  .pic-icecream {
    grid-area: pic-icecream;
  }

  .pic-books {
    grid-area: pic-books;
  }

  .pic-tape {
    grid-area: pic-tape;
  }

  .pic-street {
    grid-area: pic-street;
  }

  .decorative-text::after {
    margin-left: 5px;
  }

  .footer-heading {
    font-size: 120px;
  }

} 

@media (width >= 1024px) {
  .heading {
    margin-block-start: 175px;
  }

  .header__theme-menu-list {
    display: flex;
    justify-self: center;
    gap: 10px;
    margin-block-start: 20px;
    margin-inline-start: 20px;
  }

  .title {
    inline-size: 491px;
    block-size: min-content;
  }

  .main-section-unit {
    grid-template-columns: 315px 1fr;
  }

  .main-section-unit__heading {
    inline-size: 315px;
    grid-column: 1;
    grid-row: 1;
  }

  .text-zone-under-heading {
    grid-template-columns: 1fr;
  }

  .what-lowers-concentration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 2;
    grid-column: 1 / span 3;
    gap: 20px;
  }

  .main-section-unit__pics__heading {
    inline-size: auto;
    block-size: auto;
  }

  .footer-heading {
    font-weight: 700;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
  }
}